extends layout

block content
  ul.comments
    li.comment
      .commenter Fran
      .body What's the cause of this bug?
      ul.comments
        li.comment
          .commenter Ollie
          .body I think it's a null pointer.
          ul.comments
            li.comment
              .commenter Fran
              .body No, I checked for that.
        li.comment
          .commenter Kukla
          .body We need to check for valid input.
          ul.comments
            li.comment
              .commenter Ollie
              .body Yes, that's a bug.
            li.comment
              .commenter Fran
              .body Yes, please add a check.
              ul.comments
                li.comment
                  .commenter Kukla
                  .body That fixed it.

